.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.holder{
  background-color: rgba(128, 128, 128, 0.746);
  border-radius: 10px 10px 25px 25px;

}
.choose-area {
  background: white;
  margin-bottom: 25px;
  width: 90vw;
  border-radius: 15px;
  align-items: center;
}

.selection-button {
  width: 100%;
  text-align: left;
}

.next-button:disabled {
  background-color: azure;
}

